.pyramid-container {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pyramid-static {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 43px 25px;
  border-color: transparent transparent #d4af37 transparent;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}
